<!doctype html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetaPartial.cshtml")
    @await Html.PartialAsync("CssPartial.cshtml")
    <title>Document</title>
</head>

<body>

    @await Html.PartialAsync("SideWarpPartial.cshtml")

    <div>
        <div class="app-main-layout">

            @await Html.PartialAsync("NavbarPartial.cshtml")
            @await Html.PartialAsync("SidebarPartial.cshtml")

            <main id="main" class="app-content">
                <div class="app-page">
                    @RenderBody()

                </div>
            </main>

            <div class="fixed-action-btn">
                <a class="btn-floating btn-large blue" href="/Record">
                    <i class="large material-icons">add</i>
                </a>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("JavaScriptPartial.cshtml")
</body>
</html>


