<nav id="sidebars" class="navbar orange lighten-1">
    <div class="nav-wrapper">
        <div class="navbar-left">
            <a id="SidebarIsOpent" href="#">
                <i class="material-icons black-text">dehaze</i>
            </a>
            <span id="DataTimes" class="black-text">@DateTime.Now.Day.@DateTime.Now.Month.@DateTime.Now.Year</span>
        </div>

        <ul class="right hide-on-small-and-down">
            <li>
                <a id="USERNAME" class="dropdown-trigger black-text"
                   href="#"
                   data-target="dropdown">
                    @User.Identity.Name
                    <i class="material-icons right">arrow_drop_down</i>
                </a>

                <ul id='dropdown' class='dropdown-content'>
                    <li>
                        <a href="#" class="black-text">
                            <i class="material-icons">account_circle</i>Профиль
                        </a>
                    </li>
                    <li class="divider" tabindex="-1"></li>
                    <li>
                        <a href="#" class="black-text">
                            <i class="material-icons">assignment_return</i>Выйти
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>