<div class="sideAccount">

    <ul class="sidenav app-sidenav open">
        <li>
            <a href="/Profile" class="waves-effect waves-orange pointer">Аккаунт</a>
        </li>
        <li>
            <a href="/Account/Logout" class="waves-effect waves-orange pointer">Вийти</a>
        </li>
    </ul>

</div>