@model CategoryViewModel

<div>
    <div class="page-title">
        <h3>Категории</h3>
    </div>
    <section>
        <div class="row">
            <div class="col s12 m6">
                <div>
                    <div class="page-subtitle">
                        <h4>Создать</h4>
                    </div>

                    <form asp-controller="Categories", asp-action="CreateCategory" method="post">
                        <div class="input-field">
                            <input asp-for="CreateCategoryName" id="name" type="text" placeholder="Название">
                            <span asp-validation-for="CreateCategoryName" class="helper-text invalid"></span>
                        </div>

                        <div class="input-field">
                            <input  asp-for="CreateCategoryLimit" id="limit" type="number" placeholder="Лимит">
                            <span asp-validation-for="CreateCategoryLimit" class="helper-text invalid"></span>
                        </div>

                        <button class="btn waves-effect waves-light" type="submit">
                            Создать
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col s12 m6">
                <div>
                    <div class="page-subtitle">
                        <h4>Редактировать</h4>
                    </div>

                    <form asp-controller="Categories", asp-action="EditCategory" method="post">

                        <div class="input-field">
                            <input  asp-for="EditCategoryName" type="text" id="name" placeholder="Название">
                            <span asp-validation-for="EditCategoryName" class="helper-text invalid"></span>
                        </div>

                        <div class="input-field">
                            <input  asp-for="EditCategoryLimit" id="limit "type="number" placeholder="Лимит">
                            <span asp-validation-for="EditCategoryLimit" class="helper-text invalid"></span>
                        </div>

                        <button class="btn waves-effect waves-light" type="submit">
                            Обновить
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

