@model PlanningViewModel

<div>
    <div class="page-title">
        <h3>Планирование</h3>
        <h4>@Model.planmoney.ToString("C")</h4>
    </div>
    @{ foreach (var el in Model.allCategory)
        {
            <section>
                <div>
                    <p>
                        <strong>@el.Name:</strong>
                        @el.bill из @el.Limit
                    </p>
                    <div class="progress">
                        @if (((float)Math.Abs(el.bill)) / ((float)el.Limit) < 0.4)
                        {
                            <div class="determinate green" style="width:@($"{(el.bill / el.Limit) * 100}%")"></div>
                        }
                        else if (((float)Math.Abs(el.bill)) / ((float)el.Limit) > 0.8){
                            <div class="determinate red" style="width:@($"{(el.bill / el.Limit) * 100}%")"></div>
                        }else {
                            <div class="determinate yellow" style="width:@($"{((((float)el.bill) / ((float)el.Limit)) * 100)}%")"></div>
                        }


                    </div>
                </div>
            </section>
        }
    }


</div>
