@model HistoryViewModel

<div>
    <div class="page-title">
        <h3>История записей</h3>
    </div>


    <section>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Сумма</th>
                    <th>Дата</th>
                    <th>Категория</th>
                    <th>Тип</th>
                    <th>Открыть</th>
                </tr>
            </thead>
            @{
                int i = 0;
                foreach (var el in Model.Record)
                {
                    i++;
                    <tbody>
                        <tr>
                            <td>@i</td>
                            <td>@el.Pirse</td>
                            <td>@el.DataCreate</td>
                            <td>@el.NameCategory</td>
                            @if (el.Income == true)
                            {
                                <td><span class="white-text badge green">Доход</span></td>
                            }
                            else
                            {
                                <td><span class="white-text badge red">Расход</span></td>
                            }
                            <td>
                                <a href="/Detail_record/Detail_record/@el.id" class="btn-small btn">
                                    <i class="material-icons">open_in_new</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                }
            }
        </table>
    </section>

</div>
