@model RecordViewModel
<div>
    <div class="page-title">
        <h3>Новая запись</h3>
    </div>

    <form asp-controller="Record" asp-action="Record" method="post" class="form">

        <p>
            <label>
                <input asp-for="IsIncome" class="with-gap"
                       name="type"
                       type="radio"
                       value="income" />
                <span>Доход</span>
            </label>
        </p>

        <p>
            <label>
                <input asp-for="IsIncome" class="with-gap"
                       name="type"
                       type="radio"
                       value="outcome" />
                <span>Расход</span>
            </label>
        </p>

        <div class="input-field">
            <input asp-for="NameCategory" id="description" type="text" placeholder="Категория">
            <span asp-validation-for="NameCategory" class="helper-text invalid"></span>
        </div>

        <div class="input-field">
            <input asp-for="Sum" id="amount" type="number" placeholder="Сумма">
            <span asp-validation-for="Sum" class="helper-text invalid"></span>
        </div>
        <div class="input-field">
            <input asp-for="Discription" id="description" type="text" placeholder="Описание">

            <span asp-validation-for="Discription" class="helper-text invalid"></span>
        </div>

        <button class="btn waves-effect waves-light" type="submit">
            Создать
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
